@import "variables";
@import "test";
@import "mixins";
@import "function";


body {
    background-color: $bg-color;
}

.block {
    width: 500px;
    margin: 20px auto;
   padding: 20px;
}

  //$value:16px, 24px,#fff;
$value:(color:#cc0186, fz:22px, lh:28px);
    @include paragraphs($value...) {
        b {
            color: peru;
        }
        
        i {
            color: blue;
            font-size: $smile-text;
        }
    }
    
.btn {
    @include button(#ff0, #000, $border:true);
}

p {
    letter-spacing: ls-to-css(100);
    letter-spacing: ls-to-css(200, 25px, px);
}
    

%for-block3 {
    position: relative;
    
    &::after {
        content: "";
       right: -2px;
        top: -2px;
        width: 20px;
        height: 20px;
        position: absolute;
        background-color: $bg-color;
        border-radius: 0 0 0 20px;
    }
    &::before {
        content: "";
       left: -2px;
        top: -2px;
        width: 20px;
        height: 20px;
        position: absolute;
        background-color: $bg-color;
        border-radius: 0 0 20px 0;
    }
}

.block2{
    $bg-color-block: green;
    width: 200px*2;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
    border: 2px solid #000;
    background-color: $bg-color-block;
    h2 {
        font-size: $big-text;
    }
}

.block3{
    width: 300px;
    @extend .block2;
    @extend %for-block3;
    background-color: $bg-color-block;
    h2 {
        font-size: $smile-text;
    }
}